<h2 class="font-semibold flex justify-between text-red-400">
  <div>RESPONSE</div>
  <div><%= @time %>ms</div>
</h2>

<!--
<%= @response["protocol"] %>
<%= @response["server"] %>
<%= @response["status"] %>
<%= if Enum.member?([301,302], @response["status_code"]) do %>
  -> <%= @response["location"] %>
<% end %>
-->
