<h2 class="font-semibold flex justify-between text-blue-400">
  <div>TLS</div>
  <div><%= @time %>ms</div>
</h2>

<!--
<% cert = @ssl["certificates"] |> List.first() %>

<div>
  <%= cert["common_name"] %> -> <%= cert["issuer"] %>
  <%= cert["valid"] %> <%= cert["valid_until"] %>
</div>

<%= @ssl["protocol"] %>
<%= @ssl["valid"] %>
<%= @ssl["version"] %>
-->
