<h2 class="font-semibold flex justify-between text-orange-400">
  <div>CONNECT</div>
  <div><%= @time %>ms</div>
</h2>
<!--
<div class="flex justify-between">
  <div><%= @conn["host"] %></div>
  <div><%= @conn["ip"] %></div>
  <div><%= @conn["port"] %></div>
</div>
-->
