<h2 class="font-semibold flex justify-between text-green-400">
  <div>DNS</div>
  <div><%= @time %>ms</div>
</h2>
<!--
<div class="flex justify-between">
  <div><%= @dns["host"] %></div>
  <div><%= Enum.join(@dns["addresses"], ", ") %></div>
</div>
-->
